<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span class="credits author-gradient">
      © Spotography 2022 <br />
      Made with <span class="love">♥</span> by
      <a href="mailto:mattgmdev@gmail.com">MatteGMDev</a>
    </span>
  </div>
</footer>
