<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span class="credits">
      © Spotography 2022 | Made with <span class="love">♥</span> by MatteGMDev
    </span>
  </div>
</footer>
