* {
  font-family: "Poppins", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Header */
.border-gradient {
  border: 0px;
  border-bottom: 6px solid;
  border-image: linear-gradient(
    to right,
    #f79533 0%,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82 100%
  );
  border-image-slice: 1;
  color: white;
  margin: auto;
  text-decoration: none;
}

.card {
  border: 0 !important;
}
/* .row-gradient {
  border-bottom: 3px solid;

  padding: 10px;
  border-image: linear-gradient(
    to right,
    #833ab4 0%,
    #fd1d1d 50%,
    #fcb045 100%
  );
  border-image-slice: 1;
  color: white;
  margin: auto;
  text-decoration: none;
} */

.logo-gradient {
  font-size: 2em !important;
  padding: 20px;
  font-family: "Pacifico", cursive;
  background: linear-gradient(
    to right,
    #f79533 0%,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82 100%
  );
  margin: 10px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.author-gradient {
  background: linear-gradient(
    to right,
    #f79533 0%,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Nav */
.nav-link {
  padding: 0.25rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Poppins", sans-serif;
  border-bottom: 0.15rem solid transparent;
}
.nav-link:hover {
  border-bottom-color: rgba(255, 255, 255, 0.5);
}
.nav-link.active {
  color: white;
  border-bottom-color: white;
}

.alignc {
  text-align: center;
}

.row-gradient {
  --borderWidth: 4px;
  margin: 0 auto !important;
  border-top: 4px solid #1d1f20;
  border-left: 4px solid #1d1f20;
  border-right: 4px solid #1d1f20;
  background: #1d1f20;
  padding: 10px 0px 10px 0px;
  position: relative;
  border-radius: var(--borderWidth);
}

.row-gradient:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 15s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bordered {
  border: 1px solid grey;
}

.label-delete .form-check-inline {
  margin-right: 0px;
}

/* homepage */
.cover-container {
  max-width: 60vw;
  height: 200vh;
  margin-top: 10%;
}
.bg-image {
  background: url("https://images.unsplash.com/photo-1551801319-ca06060f3fcc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80")
    no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cover-container .lead {
  font-size: 1rem;
}
.cover-container .px-3 h1 {
  padding: 10px;
  font-family: "Pacifico", cursive;
}

.layer {
  width: 100%;
  height: 100%;
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  box-shadow: inset 0 6rem 5rem rgba(0, 0, 0, 0.5);
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity */
}

/* footer */
.bottom {
  position: relative;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
.bottom-home {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
.credits .love {
  display: inline-block;
  position: relative;
  top: 0.2em;
  font-size: 1.4em;
  color: #e74c3c !important;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-animation: love 0.5s infinite linear alternate-reverse;
  -moz-animation: love 0.5s infinite linear alternate-reverse;
  animation: love 0.5s infinite linear alternate-reverse;
  -webkit-background-clip: unset;
  background-clip: unset;
  -webkit-text-fill-color: red;
}
@-webkit-keyframes love {
  to {
    -webkit-transform: scale(1.2);
  }
}
@-moz-keyframes love {
  to {
    -moz-transform: scale(1.2);
  }
}
@keyframes love {
  to {
    transform: scale(1.2);
  }
}

.credits {
  font-size: 0.8rem;
}

/* Maps */

.cluster-map {
  width: 100%;
  height: 500px;
}

.map {
  width: 100;
  height: 300px;
}

main .px-3 {
  z-index: 1000;
}
